GILD_LINKEDIN_HANDLE=joingild
GILD_LINKEDIN_ORG_ID=
LINKEDIN_ACCESS_TOKEN=

GILD_INSTAGRAM_HANDLE=@gild.hq
GILD_INSTAGRAM_BUSINESS_ID=
META_ACCESS_TOKEN=

GILD_YOUTUBE_HANDLE=@GILDhq
GILD_YOUTUBE_CHANNEL_ID=UCC0lbied2G_PVm_WVK-xhrw
YOUTUBE_API_KEY=

GILD_SPOTIFY_HANDLE=GILD Podcast
GILD_SPOTIFY_SHOW_ID=0TSnQszN4VY8tyOgIYPsQy
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

GILD_NEWSLETTER_HANDLE=Beehiiv
GILD_NEWSLETTER_URL=
BEEHIIV_API_KEY=
BEEHIIV_PUBLICATION_ID=pub_ec20f298-6073-49cb-96a1-d5d7d60ff880

GILD_WEBSITE_HANDLE=gildhq.com
GILD_WEBSITE_URL=https://gildhq.com/
CLOUDFLARE_ACCOUNT_ID=f0ca853c1ccd053b1260f761c3c48377
CLOUDFLARE_ZONE_ID=364f79210efdf730167d563b5d0fd2f2
CLOUDFLARE_WORKER_NAME=gildhq
CLOUDFLARE_API_TOKEN=
GA4_PROPERTY_ID=
GOOGLE_APPLICATION_CREDENTIALS=
# Alternative to GOOGLE_APPLICATION_CREDENTIALS for deployments:
# GOOGLE_SERVICE_ACCOUNT_JSON=
